POSTGRES_DB=reddit
POSTGRES_USER=reddit
POSTGRES_PASSWORD=reddit
POSTGRES_HOST=postgres

RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_EXCHANGE=reddit.posts
RABBITMQ_QUEUE=posts.ingest
RABBITMQ_DEAD_LETTER_QUEUE=posts.dead-letter

SUBREDDITS=
LOOKBACK_HOURS=72
CONFIG_PATH=/app/config/subreddits.yaml

API_PORT=8080
